@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:500');

* {
  padding:0;
  margin:0;
}
body{
    background-color: #03011d;
    margin: 0;
    padding: 0;
    height: 100vh; 
    align-items: flex-start; 
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding-left: 80px;
    background-image: url('/Img/ChatGPT\ Image\ 22\ de\ abr.\ de\ 2026\,\ 12_48_11.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #CCD1D9;

}
p{
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    color: white;
}
h1 {
    margin-bottom: 20px;
    font-family: "Orbitron", sans-serif;
    color: white;
    margin-bottom: 5px; 
}
.btn-um{
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #0f0339;
  cursor: pointer;
  border: 2px solid #e8e8e8;
  margin-right: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn-um:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
}
.btn-dois{
  font-family: "Montserrat", sans-serif;
  color: #12032f;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #ffffff;
  cursor: pointer;
  border: 2px solid #05022d;
  margin-right: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn-dois:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
}

