@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Orbitron:wght@400..900&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    align-items: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-image: url('https://i.pinimg.com/1200x/90/4e/99/904e992ae6a7522572e271a17ede2037.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    margin-bottom: 20px;
    font-family: "Orbitron", sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(6, 6, 68, 0.5);
}
.buttons {
    display: flex;
    gap: 20px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    border-color: rgba(245, 245, 220, 0.679);
    background-color: #020c39;
    color: white;
    font-family: "Montserrat", sans-serif;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    color: white;
    background-color: #020328;
    font-family: "Montserrat", sans-serif;
}