@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Orbitron:wght@400..900&display=swap');

body{
    background-color: #03011d;
    margin: 0;
    padding: 0;
    height: 100vh; 
    align-items: flex-start; 
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding-left: 80px;
    background-image: url('/Img/ChatGPT\ Image\ 22\ de\ abr.\ de\ 2026\,\ 12_48_11.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
p{
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    color: white;
}
h1 {
    margin-bottom: 20px;
    font-family: "Orbitron", sans-serif;
    color: white;
    margin-bottom: 5px; 
}
.btn-um{
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #0f0339;
  cursor: pointer;
  border: 2px solid #e8e8e8;
  box-shadow: 3px 3px 9px #c5c5c5, -1px -3px 12px #ffffff;
  margin-right: 20px;
  text-decoration: none;
}
.btn-dois{
  font-family: "Montserrat", sans-serif;
  color: #12032f;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #ffffff;
  cursor: pointer;
  border: 2px solid #05022d;
  box-shadow: 3px 3px 9px #c5c5c5, -1px -3px 12px #ffffff;
  margin-right: 20px;
  text-decoration: none;
}
.btn-dois:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.btn-dois:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
