@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #021a31;
}

.container {
    width: 900px;
    height: auto;
    min-height: 520px;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url("https://i.pinimg.com/736x/17/bb/a3/17bba316be43ea60435c383c448acfc5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; /* Garante que fica atrás */
}

.login-box {
    width: 50%;
    padding: 35px 40px;
    position: relative; 
    z-index: 2;
}

.login-box h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #111;
    font-size: 2rem;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Campos lado a lado */
.linha {
    display: flex;
    gap: 15px;
}

.linha input {
    flex: 1;
}

/* Inputs */
input {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #f2f4f8;
    font-size: 14px;
    outline: none;
    transition: .3s;
}

input:focus {
    background: #fff;
    box-shadow: 0 0 0 2px rgba(12, 19, 95, 0.2);
}

/* Botão */
button {
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #0c135f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #18228d;
    transform: translateY(-2px);
}

.erro {
    text-align: center;
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

.cadastro {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.cadastro a {
    color: #0c135f;
    font-weight: bold;
    text-decoration: none;
}

/* Responsividade para celular */
@media(max-width: 900px) {
    .container {
        width: 95%;
        justify-content: center;
    }

    .container::before {
        display: none;
    }

    .login-box {
        width: 100%;
        padding: 30px;
    }

    .linha {
        flex-direction: column;
        gap: 15px;
    }
}