body{
    background:#02060f;
    color:white;
    font-family:'Segoe UI',sans-serif;
}

.contato{
    width:90%;
    max-width:800px;
    margin:60px auto;
}

.contato h1{
    text-align:center;
    color:#1f78ff;
    font-size:3rem;
    margin-bottom:20px;
}

.contato p{
    text-align:center;
    color:#cfcfcf;
    margin-bottom:40px;
}

.contato form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contato input,
.contato textarea{
    padding:18px;
    border-radius:12px;
    border:1px solid rgba(0,102,255,.3);
    background:#081125;
    color:white;
    font-size:16px;
    outline:none;
}

.contato input:focus,
.contato textarea:focus{
    border-color:#1f78ff;
    box-shadow:0 0 15px rgba(0,102,255,.4);
}

.contato textarea{
    resize:none;
}

.btn-enviar{
    width:220px;
    margin:auto;
    padding:15px;
    border:none;
    border-radius:12px;
    background:linear-gradient(
        135deg,
        #0066ff,
        #00a2ff
    );
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.btn-enviar:hover{
    transform:translateY(-3px);
    box-shadow:0 0 20px rgba(0,102,255,.6);
}